 .image  {
     background-image: url(hero-bg.jpg);
     height:800px;
     
}
.append{
  width: 99%;
}


.col-1 img{
    width:60%;
    height:40px;
}
.about-us-fluid{
    height:500px;
    background-color: #dee2e6;
}
.about-container1{
    width:50%;
    height:auto;
    display: inline-block;
}
.about-container2{
    width:50%;
    display: inline-block;
}
.append-website{
    width:100%;
}
.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .counts{
    margin-top: 5px;
    width:100%;
    height:400px;
    background-image: url(stats-bg.jpg);
  }
  
  .features{
    width:100%;
    height:100px;
  }
  @media screen and (max-width:576px) {
    .client-fluid{
      height:170px;
    }
     
    .about-us-fluid{
      height:auto;
      padding: 20px;
    }
    
    .about-container1{
      width:100%;
      height:auto;
      display: block;
      margin-bottom: 20px;
    }
    .about-container2{
      display:none;
    }
    .append-website{
      width: 100%;
    }
    .counts{
      height: auto;
      padding: 20px;
    }
    .service{
      height:auto;
      padding: 20px;
    }
    .service1{
      height:auto;
      padding: 20px;
    }
    .features{
      height:auto;
      padding: 20px;
    }
    .navbar-toggler{
      margin-right: 20px;
    }
    .navbar-collapse{
      text-align: start;
    }
    .input-group{
      width:80%;
      margin: 0 auto;
    }
    .text-center{
      padding:10px;
    }
    
  } 
 .fr{
float: right;
 } 
  
  