 .image  {
     background-image: url(hero-bg.jpg);
     height:800px;
     background-size: cover;
}
.append{
  width: 99%;
}


.col-1 img{
    width:60%;
    height:40px;
}
.about-us-fluid{
    height:800px;
    background-color: #dee2e6;
    position: relative;
}
.about-container1{
    width:100%;
    height:auto;
    display: inline-block;
    position: absolute;
}
.about-container2{
    
    display: inline-block;
    position: absolute;
    left: 650px;
    top: 50px !important;
    width:40%;
    height:400px;
}
.icons{
  width:25%;
  height:50px;
  border:1px solid black;
  border-radius: 100%;
}
.append-website{
    width:100%;
}
.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .counts{
    margin-top: 5px;
    width:100%;
    height:400px;
    background-image: url(stats-bg.jpg);
  }
  
  .features{
    width:100%;
    height:100px;
    
  }
  @media screen and (max-width:375px) {
    .client-fluid{
      height:80px;
      width:100%;
    }

     
    .about-us-fluid{
      height:auto;
      padding: 20px;
    }
    .image{
       background-size:120%;
       
    }
    
    .about-container1{
      width:100%;
      height:auto;
      display: block;
      margin-bottom: 20px;
    }
    
    .append-website{
      width: 100%;
    }
    .append{
      width:auto;
    }
    .counts{
      height: auto;
      padding: 20px;
    }
    .service{
      height:auto;
      padding: 20px;
    }
    .service1{
      height:auto;
      padding: 20px;
    }
    .features{
      height:auto;
      padding: 20px;
    }
    .navbar-toggler{
      margin-right: 20px;
    }
    .navbar-collapse{
      text-align: start;
    }
    .input-group{
      width:80%;
      margin: 0 auto;
    }
    .text-center{
      padding:10px;
    }
    
  } 
 .fr{
float: right;
 } 
  
  